name: Haskell CI

# Trigger the workflow on push or pull request, but only for the main branch
on:
  pull_request:
  push:
    branches:
      - main
      - master
    paths-ignore:
      - '**.md'
jobs:
  stack:
    name: ${{ matrix.os }} / ghc-${{ matrix.ghc }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        ghc: ["8.10.3"]
        os: ["ubuntu-latest", "macOS-latest", "windows-latest"]

    steps:
    - uses: actions/checkout@v2
      if: github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.ref == 'refs/heads/master'

    - uses: haskell/actions/setup@v1
      name: Setup Haskell Stack
      with:
        ghc-version: ${{ matrix.ghc }}
        enable-stack: true

    - name: Cache dependencies (Unix)
      uses: actions/cache@v2
      if: matrix.os != 'windows-latest'
      with:
        path: ~/.stack
        key: ${{ runner.os }}-store-${{ hashFiles('stack.yaml.lock') }}-${{ runner.ghc }}

    - name: Cache dependencies (Windows)
      uses: actions/cache@v2
      if: matrix.os == 'windows-latest'
      with:
        path: 'C:\Users\runneradmin\AppData\Roaming\stack'
        key: ${{ runner.os }}-store-${{ hashFiles('stack.yaml.lock') }}-${{ runner.ghc }}

    - name: Cache GHC (Windows)
      uses: actions/cache@v1
      if: matrix.os == 'windows-latest'
      with:
        path: 'C:\Users\runneradmin\AppData\Local\Programs\stack'
        key: ghc-${{ hashFiles('stack.yaml.lock') }}-${{ runner.ghc }}

    - name: Install dependencies
      run: |
        stack build --system-ghc --test --bench --no-run-tests --no-run-benchmarks --only-dependencies

    - name: Build
      run: |
        stack build --system-ghc --test --bench --no-run-tests --no-run-benchmarks

    - name: Test
      run: |
        stack test --system-ghc
